@font-face {
    font-family: "Mona Sans";
    src: url("../Fonts/D-Din/D-DIN.otf"), url("../Fonts/D-Din/D-DIN-Bold.otf");
}

@font-face {
    font-family: "SpaceX";
    src: url("../Fonts/SpaceX.ttf");
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes weightlessness {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-15px) rotate(3deg);
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


html {
    scroll-behavior: smooth;
    background-color: #08090B;
    overflow-x: hidden;
}

* {
    font-family: 'Mona Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfcfc;
}

*::selection {
    background-color: #939affc8;
    color: white;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body {
    padding: 0;
    margin: 0;
    min-width: 340px;
    background-image: url("../Index/space-wallpaper.jpg"), url("../Index/space-wallpaper-middle.png"), url("../Index/space-wallpaper2.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, center, bottom left;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 370px;
}

#sidebar {
    width: 2px;
    background-color: #dedede;
    border-radius: 50px;
    box-shadow: 0 0 5px #dedede;
    position: fixed;
    top: 50%;
    left: 50px;
    height: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#cursor {
    width: 6px;
    border-radius: 50%;
    height: 5%;
    background-color: #fff;
    position: absolute;
    top: 0;
    box-shadow: 0 0 50px #fff;
}

#sub-cursor {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}

header {
    margin: auto;
    margin-top: 110px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    padding: 0 50px;
}

.green-word {
    color: #7EE787;
}

#presentation-box {
    width: 50%;
    height: 700px;
    position: relative;
}

#presentation-box h1 {
    font-size: 4rem;
    width: 500px;
    font-family: "SpaceX";
}

#presentation-box #current-status {
    color: #dedede;
    font-size: 2.5rem;
    font-weight: bolder;
}

#presentation-box #goal {
    color: #dedede;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 10px;
}

#presentation-box .prompt-result {
    font-size: 2rem;
    font-weight: normal;
    color: #51555c;
    margin-left: 40px;
    margin-top: 10px;
}

#presentation-box .prompt {
    color: #939AFF;
    font-size: 2rem;
    font-weight: bold;
}

#presentation-box #prompt-2, #prompt-3{
    color: #939AFF;
    font-size: 2rem;
    font-weight: bold;
    display: none;
}

#presentation-box #prompt-3{
    margin-top: 10px;
}

#presentation-box-buttons {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.presentation-box-buttons-box {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 60px;
}

.presentation-box-buttons-box-btn {
    cursor: pointer;
    position: absolute;
    color: #dedede;
    border: 1px solid #dedede;
    border-radius: 0px;
    font-weight: bold;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
}

.presentation-box-buttons-box-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: height 0.3s;
    z-index: -500;
}

.presentation-box-buttons-box-btn:hover{
    color: black;
}

.presentation-box-buttons-box-btn:hover::after {
    height: 100%;
}

.cursor-blink::after, #prompt-3::after {
    content: "|";
    font-weight: bold;
    color: #dedede;
    position: relative;
    bottom: 2px;
    animation: blink 1s infinite;
}

#satellite {
    width: 250px;
    animation: weightlessness 8s ease-in-out infinite;
}


#introduction-description {
    color: #939AFF;
}

#introduction-subdescription {
    color: #fcfcfc;
}

.cyan-word {
    color: #939AFF;
}

.box {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.box-description {
    font-size: 3.4rem;
    color: #fcfcfc;
}

.box-subdescription {
    font-size: 2.5rem;
    color: #818890; 
}

.red-word {
    color: #FFA28B;
}

.bold-word {
    font-weight: bold;
}

.box-more span {
    transition: 0.3s ease;
}

.box-more {
    font-size: 1.8rem;
    transition: 0.2s;
}

.box-more:hover {
    color: #939AFF;
}

.box-more:hover .more-arrow {
    margin-left: 15px;
}

.blue-word {
    color: #939AFF;
}
 
.box-box {
    font-size: 1.5rem;
    width: 400px;
    background-color: #23282E;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 15px black;
    border: 1px solid #3e424a;
    position: relative;
}

#cybersecurity-areas-leader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.box-box-element {
    transition: 0.2s;
}

.selected-line {
    transition: 0.4s ease;
}

.cybersecurity-areas-element:hover {
    color: #939AFF;
}

.box-box-element:hover .selected-line {
    margin-left: 15px;
}

#cybersecurity-areas-title {
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

#cybersecurity-areas-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #939AFF;
}

#cybersecurity-leader {
    font-size: 1.5rem;
    color: #51555c;
    width: 60%;
}

#github-projects-title {
    position: relative;
    color: #fcfcfc;
}

#github-projects-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #939AFF;
}

#projects-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 80%;
    flex-wrap: wrap;
}

.projects-box-element {
    font-size: 1.5rem;
    width: 600px;
    background-color: #23282E;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0 0 15px black;
    border: 1px solid #3e424a;
    position: relative;
}

.projects-box-element-title {
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
}

.projects-box-element-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #939AFF;
}

.projects-box-element-consult {
    margin-top: 20px;
    transition: 0.2s;
}

.projects-box-element-consult:hover {
    color: #939AFF;
}

.magenta-word {
    color: #D2A8FF;
}

.dark-red-word {
    color: #FF7B72;
}

#ai-courses {
    width: 500px;
    margin-left: auto;
}

#areas-title {
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

#areas-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #7EE787;
}

.ai-courses-element:hover, .ai-courses-element span:hover {
    color: #7EE787;
}

#areas {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nlp {
    transition: 0.2s;
}

.areas-element:hover, .areas-element:hover #nlp {
    color: #7EE787;
}

.cyan-word {
    color: #939AFF;
}

#cybersecurity-ai {
    margin-left: auto;
}

#cybersecurity-ai-title {
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

#cybersecurity-ai-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #939AFF;
}

.cybersecurity-ai-element:hover {
    color: #939AFF;
}

#cybersecurity-ai {
    width: 400px;
}

#internship-description {
    background-color: #23282e;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #3e424a;
    box-shadow: 0 0 15px black;
    position: relative;
    color: #fcfcfc;
}


a {
    text-decoration: none;
}

#up-button {
    opacity: 0;
    position: fixed;
    right: 50px;
    bottom: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.2s ease-in-out; 
    z-index: 10000;
}

#up-button.visible {
    opacity: 1;
    cursor: pointer;
}

#up-button img {
    width: 40px;
}

footer {
    padding-top: 50px;
    height: 200px;
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#social-media img {
    width: 40px;
}

#copyright {
    text-align: center;
    padding: 0 5px 30px 5px;
    font-size: 1.5rem;
    color: #818890;
}


@media (max-width: 1350px) {
    #cybersecurity-leader {
        width: 50%;
    }
}

@media (max-width: 1300px) {
    #areas {
        width: 300px;
    }
}

@media (max-width: 1170px) {
    body {
        gap: 220px;
    }
    #presentation-box h1 {
        font-size: 3.5rem;
    }
    #presentation-box #current-status {
        font-size: 2rem;
    }
    #presentation-box #goal {
        font-size: 2rem;
    }
    #presentation-box .prompt-result {
        font-size: 1.5rem;
    }
    .presentation-box-buttons-box-btn {
        font-size: 1.5rem;
        height: 50px;
        width: 250px;
    }
    #satellite {
        width: 200px;
    }
    .box-description {
        font-size: 2.5rem;
    }
    .box-subdescription {
        font-size: 2rem;
    }
    .box-more {
        font-size: 1.5rem;
    }
    .box-box {
        font-size: 1.3rem;
        width: 300px;
    }
    .projects-box-element {
        width: 600px;
        min-width: 230px;
    }
    #cybersecurity-leader {
        font-size: 1.3rem;
    } 
    #areas {
        width: 250px;
    }
    #ai-courses {
        width: 400px;
    }
    #copyright {
        font-size: 1.3rem;
    }
}

@media (max-width: 980px) {   
    #areas {
        position: inherit;
    }
    #ai-courses {
        position: inherit;
    }
    #copyright {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #cybersecurity-areas-leader {
        flex-direction: column;
        gap: 60px;
    }
    #cybersecurity-areas {
        margin-left: auto;
    }
    #cybersecurity-leader {
        margin-right: auto;
        width: 100%;
    }
    #presentation-box {
        width: 70%;
    }
}

@media (max-width: 750px) {
    #sidebar {
        left: 30px;
    }
}

@media (max-width: 700px) {
    #sidebar {
        display: none;
    }
    #satellite {
        display: none;
    }
    #presentation-box {
        width: 100%;
    }
    .presentation-box-buttons-box-btn {
        flex-direction: column;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    header {
        padding: 0;
    }
}

@media (max-width: 550px) {
    #presentation-box h1 {
        font-size: 3rem;
        width: 400px;
    }
    #presentation-box #current-status {
        font-size: 1.7rem;
    }
    #presentation-box #goal {
        font-size: 1.7rem;
    }
    #presentation-box .prompt-result {
        font-size: 1.3rem;
    }
    .presentation-box-buttons-box-btn {
        font-size: 1.3rem;
        height: 40px;
        width: 200px;
    }
    .box-description {
        font-size: 2rem;
    }
    .box-subdescription {
        font-size: 1.7rem;
    }
    .box-more {
        font-size: 1.3rem;
    }
    .box-box {
        font-size: 1.1rem;
        width: 300px;
    }
    #cybersecurity-leader {
        font-size: 1.1rem;
    }
    #areas {
        width: 250px;
    }
    #ai-courses {
        width: 80%;
    }
    #cybersecurity-areas {
        width: 80%;
    }
    #cybersecurity-ai {
        width: 80%;
    }
    #copyright {
        font-size: 1.1rem;
    }
    #up-button {
        right: 10px;
        bottom: 15px;
    }
}

@media (max-width: 500px) {
    #presentation-box h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 440px) {
    body {
        gap: 200px;
    }

    header {
        height: 600px;
    }

    #presentation-box {
        height: 600px;
    }

    #presentation-box h1 {
        font-size: 2.3rem;
    }
    #presentation-box-buttons {
        bottom: 50px;
    }
    #presentation-box #current-status {
        font-size: 1.5rem;
    }
    #presentation-box #goal {
        font-size: 1.5rem;
    }
    #presentation-box .prompt-result {
        font-size: 1.2rem;
    }
    .presentation-box-buttons-box-btn {
        font-size: 1.2rem;
        height: 40px;
        width: 200px;
        background-color: #000000aa;
    }
    .box-description {
        font-size: 1.8rem;
    }
    .box-subdescription {
        font-size: 1.5rem;
    }
    .box-more {
        font-size: 1.1rem;
    }
    .box-box {
        font-size: 1.1rem;
        width: 300px;
    }
    #cybersecurity-leader {
        font-size: 1rem;
    }
    #areas {
        width: 250px;
    }
    #ai-courses {
        width: 80%;
    }
    #cybersecurity-areas {
        width: 80%;
    }
    #cybersecurity-ai {
        width: 80%;
    }
    #copyright {
        font-size: 1rem;
    }
    
    body {
        background-position: top center, center, bottom center;
    }    
}

@media (max-width: 400px) {
    #areas {
        width: 80%;
    }
}
