@font-face {
    font-family: "Mona Sans";
    src: url("../Fonts/Mona\ Sans/Mona-Sans.ttf");
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Mona Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfcfc;
}

*::selection {
    background-color: #38358dc2;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body {
    padding: 0;
    margin: 0;
    background-color: #0d1117;
    min-width: 340px;
}

header {
    background-image: url("../Index/space-wallpaper.jpg");
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    border-bottom: 1px solid #6639ba;
    padding: 0 50px;
    gap: 10px;
}

#quote {
    font-weight: bold;
    font-size: 1.7rem;
    color: #fcfcfc;
}

#cybersecurity-quote {
    background-color: none;
    border-radius: 10px;
    width: 600px;
    height: 350px;
}

#cybersecurity-quote-border {
    width: 100%;
    height: 50px;
    background-color: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#presentation-box {
    width: 700px;
    height: 350px;
}

#presentation-box {
    position: relative;
}

#presentation-box h1 {
    font-size: 3rem;
}

#presentation-box #current-status {
    color: #fcfcfc;
    font-size: 1.5rem;
    font-weight: bold;
}

#presentation-box #goal {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fcfcfc;
    margin-top: 10px;
}

#presentation-box .prompt-result {
    font-size: 1.5rem;
    font-weight: normal;
    color: #818890;
    margin-left: 29px;
    margin-top: 10px;
}

#presentation-box .prompt {
    color: #6639ba;
    font-size: 1.5rem;
    font-weight: bold;
}

#presentation-box #prompt-2, #prompt-3{
    color: #6639ba;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
}

#presentation-box #prompt-3{
    margin-top: 10px;
}

#presentation-box-buttons {
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#presentation-box-buttons a {
    background-color: #0d1117;
    color: #fcfcfc;
    border: 1px solid #6639ba;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#presentation-box-buttons a:hover {
    border: 2px solid #fcfcfc;
    cursor: pointer;
}

.cursor-blink::after, #prompt-3::after {
    content: "|";
    font-weight: bold;
    color: #6639ba;
    position: relative;
    bottom: 2px;
    animation: blink 1s infinite;
}

#separator-padlock {
    width: 100px;
    position: relative;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
}

#black-circle {
    width: 100px;
    position: relative;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    background-color: #0d1117;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#separator-padlock:hover {
    border-radius: 50px;
    background-color: #131923;
}

#github-rootme {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.gr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-bottom: 200px;
    position: relative;
}

.gr-container img {
    width: 100px;
}

.gr-container #rootme-img {
    width: 80px;
}

.gr-container p {
    font-size: 1.2rem;
    text-align: center;
    color: #fcfcfc;
}

.gr-container .searchbar-link {
    width: 280px;
    height: 40px;
    background-color: #30363d;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fcfcfc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 40px;
}

.gr-container .searchbar-link img {
    width: 20px;
}

.searchbar-black-area {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #0d1117;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.1s ease-out;
    box-sizing: border-box;
    border: 1px solid #6639ba;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.searchbar-black-area:hover {
    border: 2px solid #fcfcfc;
}

#github, #rootme {
    background-color: #161b22;
    height: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.internal-separator {
    width: 95%;
    height: 1px;
    background-color: #6639ba;
}

.gr-content {
    width: 600px;
}

#github-intro, #rootme-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gr-tag {
    font-weight: bold;
}

#github-tag, #rootme-tag {
    font-size: 1.5rem;
}

.gr-projects {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;    
}

.gr-project {
    width: 150px;
    height: 120px;
    background-color: #0d1117;
    border-radius: 10px;
    transition: 0.1s ease-out;
}

.gr-project:hover {
    transform: translateY(-5px);
}

.gr-button {
    margin-top: 20px;
    color: #fcfcfc;
    width: 200px;
    height: 35px;
    background-color: #0d1117;
    border: 1px solid #6639ba;
    padding: 2px 5px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: 0.1s ease-out;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.gr-button:hover {
    cursor: pointer;
    border: 2px solid #fcfcfc;
}

a {
    text-decoration: none;
}

.three-dots {
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    position: absolute;
    top: 25px;
    left: 25px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #6639ba;
    border-radius: 50px;
}

#up-button {
    position: fixed;
    right: 50px;
    bottom: 40px;
    transition: 0.2s ease-out;
}

#up-button:hover {
    transform: translateY(-5px);
}

#up-button img {
    width: 50px;
}

#copyright {
    text-align: center;
    padding: 0 5px 30px 5px;
    font-size: 1.2rem;
    color: #818890;
}

@media (max-width: 1450px) {
    #github-rootme {
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    header {
        gap: 20px;
    }
    
    #cybersecurity-quote {
        width: 560px;
    }
}

@media (max-width: 960px) {
    header {
        flex-direction: column;
        justify-content: space-around;
        gap: 100px;
        height: 900px;
        padding-top: 100px;
    }

    #cybersecurity-quote {
        width: 700px;
    }

    #presentation-box-buttons {
        top: 370px;
    }
}

@media (max-width: 800px) {
    #presentation-box, #cybersecurity-quote {
        width: 600px;
    }
}

@media (max-width: 730px) {
    .gr-container {
        width: 620px;
    }
}

@media (max-width: 650px) {
    #github, #rootme {
        height: 450px;
    }

    .gr-content {
        width: 550px;
    }

    #presentation-box, #cybersecurity-quote {
        width: 550px;
    }
}

@media (max-width: 640px) {
    .gr-content {
        width: 500px;
    }
}

@media (max-width: 630px) {
    .three-dots {
        display: none;
    }

    .gr-container {
        width: 550px;
    }
}

@media (max-width: 600px) {
    #presentation-box, #cybersecurity-quote {
        width: 500px;
    }
}

@media (max-width: 570px) {
    .gr-projects {
        display: none;
    }

    .gr-intro {
        flex-direction: column-reverse;
    }

    #github, #rootme {
        height: 400px;
    }

    .gr-container {
        width: 490px;
    }

    .gr-content {
        width: 490px;
    }
}

@media (max-width: 550px) {
    #presentation-box, #cybersecurity-quote {
        width: 450px;
    }

    #presentation-box-buttons {
        gap: 20px;
    }
}

@media (max-width: 520px) {
    #github-tag, #rootme-tag {
        font-size: 1.2rem;
    }

    #github-description, #rootme-description {
        font-size: 1rem;
    }

    #presentation-box h1 {
        font-size: 2.6rem;
    }

    #presentation-box #current-status {
        font-size: 1.5rem;
    }
    
    #presentation-box #goal {
        font-size: 1.5rem;
    }
    
    #presentation-box .prompt-result {
        font-size: 1.2rem;
    }

    #quote {
        font-size: 1.5rem;
    }

    #copyright {
        font-size: 1rem;
    }

    #github, #rootme {
        height: 350px;
    }

    .gr-container, .gr-content {
        width: 450px;
    }

    #presentation-box-buttons {
        left: 50%;
        transform: translate(-50%);
    }

    #presentation-box-buttons a {
        width: 150px;
    }

    header {
        padding: 0;
        padding-top: 100px;
        align-items: center;
    }

    #up-button {
        right: 30px;
        bottom: 30px;
    }
}

@media (max-width: 500px) {
    #presentation-box, #cybersecurity-quote {
        width: 400px;
    }
}

@media (max-width: 470px) {
    .gr-content {
        width: 420px;
    }
}

@media (max-width: 460px) {
    .gr-container, .gr-content {
        width: 400px;
    }
}

@media (max-width: 450px) {
    #presentation-box, #cybersecurity-quote {
        width: 350px;
    }
}

@media (max-width: 425px) {
    .gr-container {
        width: 350px;
    }

    .gr-content {
        width: 320px;
    }

    #github, #rootme {
        height: 380px;
    }
}

@media (max-width: 400px) {
    #quote {
        font-size: 1.3rem;
    }

    #cybersecurity-quote {
        width: 310px;
    }

    #presentation-box-buttons a {
        width: 135px;
    }
}

@media (max-width: 390px) {
    #presentation-box h1 {
        font-size: 2.3rem;
    }

    #presentation-box #current-status {
        font-size: 1.4rem;
    }
    
    #presentation-box #goal {
        font-size: 1.4rem;
    }
    
    #presentation-box .prompt-result {
        font-size: 1.1rem;
    }

    #presentation-box, #cybersecurity-quote {
        width: 310px;
    }

    .gr-container {
        width: 330px;
    }
    
    .gr-content {
        width: 310px;
    }
}

