@font-face {
    font-family: Varela;
    src: url("Fonts/Varela_Round/VarelaRound-Regular.ttf");
}

@keyframes translation{
    from{
        left: -20%;
    }
    
    to{
        left: 100%;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    background-color: #2e2e34;
}

*{
    font-family: "Varela" ,"Century Gothic";
    font-size: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    letter-spacing: 0.1em;
    outline: none;
    color: #dedede;
}

::selection{
    background-color: #6495ed;
    color: #dedede;
}

img::selection{
    background-color: rgba(0, 0, 0, 0);
}

a{
    color: #6495ed;
    text-decoration: none;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #2e2e34d3;
    z-index: 5;
    backdrop-filter: blur(1.5px);
    min-width: 340px;
}

.logo{
    margin-left: 20px;
    width: 40px;
}

.menu{
    margin-right: 50px;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__element{
    text-decoration: none;
    color: #dedede;
    font-variant: small-caps;
}

.menu__element::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #6495ed;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.menu__element:hover::after{
    transform: scale(1);
}

.menu__element:hover{
    color: #6495ed;
}


.animated-bar{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 2px;
}

.animated-bar div{
    width: 20%;
    height: 2px;
    background: linear-gradient(to right, #2e2e34, #6495ed);
    z-index: 20;
    position: relative;
    display: none;
}


.content{
    height: 70vh;
}


footer{
    background-color: rgb(34,34,40);
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    min-width: 340px;
}

.high-footer{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.high-footer__element{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.high-footer__element__title{
    color: #6495ed;
    font-size: 1rem;
}

.high-footer__element__elements{
    display: flex;
    flex-direction: column;
}

.high-footer__element__elements div{
    font-size: 0.9rem;
    color: #898989;
}


.low-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.low-footer__line{
    margin: auto;
    width: 95%;
    height: 1px;
    background-color: #6495ed;
}

.low-footer__me{
    color: #898989;
}

.high-footer__element__elements div a{
    font-size: 0.9rem;
    color: #898989;
}

.high-footer__element__elements div a:hover{
    color: #595959;    
}

.low-footer__cc:hover{
    text-decoration: underline;
    color: #6495ed;
}

.return-top{
    position: fixed;
    bottom: 15px;   
    right: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s ease-in-out;
    z-index: 30;
}

.return-top:hover{
    transition: 0.2s ease-in-out;
    transform: translateY(-10%);
}

@media (max-width: 770px){
    .menu{
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    .menu__element{
        font-size: 0.9rem;
    }
    
    .logo{
        display: none;
    }

    button, button span{
        font-size: 0.9rem;
    }
}

@media (max-width: 720px){
    footer{
        padding: 50px 0 20px 0;
    }

    .high-footer{
        display: grid;
        gap: 40px;
    }

    .high-footer__studies{
        grid-row: 1;
        grid-column: 1;
        margin-right: 20vw;
    }

    .high-footer__social{
        grid-row: 1;
        grid-column: 2;
    }

    .high-footer__projects{
        grid-row: 2;
        grid-column: 1;
        margin-right: 20vw;
    }

    .high-footer__cv{
        grid-row: 2;
        grid-column: 2;
    }
}

@media (max-width: 460px){
    .part-name{
        font-size: 1.5rem;
    }

    .sub-part-name{
        font-size: 1.1rem;
    }

    .high-footer__studies{
        grid-row: 1;
        grid-column: 1;
        margin-right: 10vw;
    }

    .high-footer__projects{
        grid-row: 2;
        grid-column: 1;
        margin-right: 10vw;
    }
}

